<div dir="rtl">
  <h1>{{title}}</h1>
  <form #customerAddingFrm="ngForm">
    <div id="newCustomerDiv" mat-dialog-content>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>שם פרטי</mat-label>
        <input type="text" maxlength="10" matInput name="firsName" [(ngModel)]="details.firstName" required>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>שם משפחה</mat-label>
        <input type="text" maxlength="10" name="lastName" matInput [(ngModel)]="details.lastName" required>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>עיר</mat-label>
        <input type="text" maxlength="15" name="city" matInput [(ngModel)]="details.city" required>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>כתובת</mat-label>
        <input type="text" maxlength="30" name="address" matInput [(ngModel)]="details.address" required>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>טלפון / נייד</mat-label>
        <input #phoneIpt type="number" maxlength="10" (keypress)="PhoneKeyPress($event)" name="phone" matInput [(ngModel)]="details.phone" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="row">
      <div id="okDiv" class="col">
        <button id="dialogOkBtn" type="submit" class="btn btn-secondary" [disabled]="customerAddingFrm.invalid" (click)="OKClick()">אישור</button>
      </div>
      <div id="cancelDiv" class="col">
        <button id="dialogCancelBtn" class="btn btn-secondary" (click)="CancelClick()">ביטול</button>
      </div>
    </div>
  </form>
</div>
